<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="providersFileName" value="Providers.xml" />
    
<!--
    <add key="WMINamespace" value="cimv2"/>
    <add key="WMIClassName" value="Win32_Process"/>
    <add key="WMIKeyProperty" value="ProcessId"/>
    <add key="WMIFilterProperties" value="CommandLine,CreationDate,CSName,KernelModeTime,UserModeTime,Status,WorkingSetSize,ReadOperationCount,WriteOperationCount,OtherOperationCount"/>
-->

    <!-- -->
    <add key="WMINamespace" value="root\MyWMINamespace"/>
    <add key="WMIClassName" value="MyWMIClass"/>
    <add key="WMIKeyProperty" value="MyStringProp"/>
    <add key="WMIFilterProperties" value="*"/>
    <!-- -->

<!--
    
    <add key="WMINamespace" value="AbstractaExample" />
    <add key="WMIClassName" value="AbstractaWMIClass" />
    <add key="WMIKeyProperty" value="Key" />
    <add key="WMIFilterProperties" value="*" />
-->    
  </appSettings>
</configuration>